{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="d-flex flex-column">
    <div class="d-flex flex-row">
      <div class="p-2">
        Title: {{event['title']}}
      </div>
      <div class="p-2">
        Start date: {{event['start_date']}}
      </div>
      <div class="p-2">
        End date: {{event['end_date']}}
      </div>
      <div class="p-2">
        <img src="{{event['thumbnail']}}" alt="Thumbnail" style="width: 200px; height: 200px;">
      </div>
    </div>
  </div>

  <form class="" action="/booking" method="post">
    <div class="d-flex">
      <div class="p-2">
        <input type="text" name="name" value="" placeholder="Your name">
      </div>
      <div class="p-2">
        <input type="submit" name="" value="Confirm reservation">
        <input type="hidden" name="event_id" value="{{event['id']}}">
      </div>
    </div>
  </form>
{% endblock %}
