{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="container-fluid text-center mt-5">
    <h1>Thank you {{data['reservation']['name']}} for booking {{data['event']['title']}} event.<h1>
    <h3>This is your unique reservation code: <span style="font-size: 30px; color: red">{{data['reservation']['code']}}</span></h3>
    <h3>Please save it, otherwise you won't be able to see or make changes in your booking.</h3>
  </div>

  <div class="container fixed-bottom rounded-top mt-5 text-center bg-dark text-light p-2">
    <a href="/manage" class="text-light"><h2>Click here to manage your existing booking</h2></a>
  </div>
{% endblock %}
