{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="d-flex flex-column">
  <div class="d-flex flex-row">
    <div class="p-2">
      Title: {{data['event']['title']}}
    </div>
    <div class="p-2">
      Start date: {{data['event']['start_date']}}
    </div>
    <div class="p-2">
      End date: {{data['event']['end_date']}}
    </div>
    <div class="p-2">
      <img src="{{data['event']['thumbnail']}}" alt="Thumbnail" style="width: 200px; height: 200px;">
    </div>
  </div>
</div>

<form class="" action="/update" method="post">
  <div class="d-flex">
    <div class="p-2">
      <input type="text" name="name" value="{{data['reservation']['name']}}" placeholder="Your name">
    </div>
    <div class="p-2">
      <input type="submit" name="update" value="Confirm changes">
      <input type="hidden" name="code" value="{{data['reservation']['code']}}">
      <input type="hidden" name="event_id" value="{{data['event']['id']}}">
    </div>
  </div>
</form>

<form class="" action="/delete" method="post">
    <input type="submit" name="cancel" value="Cancel reservation">
    <input type="hidden" name="code" value="{{data['reservation']['code']}}">
    <input type="hidden" name="event_id" value="{{data['event']['id']}}">
</form>

{% endblock %}
